.desc {
  @include bg;
  background-image: url('/src/img/bgs/desc-bg.jpg');
  padding-bottom: 45px;
  min-height: 986px;
  background-color: #f7e8ef;

  @media (min-width: 1921px) {
    background-size: auto;
  }

  @media (max-width: 900px) {
    background-image: none;
    min-height: auto;
  }

  @media (max-width: 650px) {
    padding-bottom: 30px;
  }
}

.desc__title {
  @include max-width(745px);
  font-size: 44px;
  text-transform: uppercase;
  margin-bottom: 41px;

  @media (min-width: 1921px) {
    font-size: 40px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
  }

  @include tablet-mb(30px);
  @include mobile-mb(15px);

  span {
    color: #4d6bea;
  }
}

.desc__text {
  @include max-width(675px);
  font-size: 22px;
  line-height: 1.55;
  margin-bottom: 47px;

  @media (max-width: 767px) {
    font-size: 20px;
  }

  @include tablet-mb(30px);
  @include mobile-mb(15px);

  span {
    background-color: #4d6bea;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
  }
}

.desc__list {
  @include reset-list;
  display: flex;
  gap: 31px;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media (max-width: 1020px) {
    @include max-width(600px);
  }

  @media (max-width: 900px) {
    justify-content: center;
    max-width: 100%;
  }

  @media (max-width: 650px) {
    gap: 15px;
  }

  @include tablet-mb(30px);
  @include mobile-mb(15px);
}

.desc__item {
  padding-left: 70px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: 650px) {
    br {
      display: none;
    }
  }

  &::before {
    width: 48px;
    height: 48px;
    content: '';
    position: absolute;
    left: 0px;
    top: 3px;
    @include bg;
  }

  @for $i from 1 through 3 {
    &:nth-child(#{$i})::before {
      background-image: url('/src/img/icons/desc/#{$i}.png');
    }
  }
}
