.swiper-slide img {
  width: 100%;
}

.swiper-btn-box {
  display: flex;
  gap: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  right: 0;
  left: 0;
  top: 0;
  display: block;
  width: 43px;
  height: 44px;
  @include bg;
  transition: transform 0.3s;
  margin-top: 0;

  &::after {
    content: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.swiper-button-next {
  background-image: url('/src/img/icons/slider-left-arrow.png');
}
.swiper-button-prev {
  background-image: url('/src/img/icons/slider-right-arrow.png');
}

.swiper-pagination {
  position: relative;
  bottom: 0;
  width: auto;
  font-size: 22px;
  color: #5f3b4a;

  &_brands {
    margin-top: 15px;

    span {
      width: 15px;
      height: 15px;
      background-color: #deabba;
    }
  }

  span {
    font-size: 40px;
  }
}

.swiper-input-box {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}

.swiper_brands {
  display: none;

  @media (max-width: 1060px) {
    display: block;
  }
  @include max-width(500px);
}
