html p, li {
  @media (max-width: 650px) {
    font-size: 16px !important;
  }
}

html h1, h2 {
  @media (max-width: 650px) {
    font-size: 22px !important;
  }
}

body {
  background-color: white;
  color: black;
  font-family: 'GothamPro', sans-serif;
  line-height: normal;
}

main {
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 1140px;
  margin: 0 auto;

  @media (max-width: 1150px) {
    padding: 0 30px;
  }

  @media (max-width: 650px) {
    padding: 0;
    width: 300px;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}
